@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import "tailwindcss";

#root {
  direction: rtl;
  text-align: right;
  background: #f1efe3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tajawal", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 40px;
}
